/* You can add global styles to this file, and also import other style files */

:root{
  --primary-color:#dc3545;
  --darsk-color:#333;
  --light-color:#f4f4f4;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background: #fff;
  color: #333;
}


a{
  color: var(--primary-color);
  text-decoration: none;
  &:hover{

  }
}

